.support-content {
   display: flex;
   justify-content: center;
}
.support__img {
   height: 100px;
   margin: 0 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}