.support-content {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.support__img {
   height: 100px;
   max-width: 190px;
   margin: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}