* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  &:focus, 
  &:active {
    outline: none;
  }
}

body {
  background-color: $bg-color-white;
  font-family: $font-family;
  font-weight: 400;
  color: $color-dark;
  font-size: 16px;
  line-height: 1.2;
}
a {
  $color-link: $color-blue;
  
  text-decoration: none;
  color: $color-link;
  &:hover:not(.nav-link) {
    text-decoration: underline;
  }
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 48px;
  margin: 1.75em 0;
  @include media-to($media-lg) {
    font-size: 34px;
  }
}

h1, h3 {
  text-align: center;
}
h3,
.like-h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 1.2em 0;
  @include media-to($media-lg) {
    font-size: 16px;
  }
}
img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}
.descr {
  font-size: 18px;
  text-align: center;
  @include media-to($media-lg) {
    font-size: 16px;
  }
}
